body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
}
button {
    padding: 10px;
    margin: 10px;
}
